@import '../settings/variable';
//STAGE
.about {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 72px;
  }

  &--title {
    padding-bottom: 40px;

    @media (min-width: $tablet) {
      margin-bottom: 72px;
    }
  }

  &--link {

  }
}