@import "../settings/variable";

// SECTION 1
.home {
  margin-bottom: 96px;


  &--picture {
    max-height: 380px;
  }

  &--title {
    margin-bottom: 40px;

    @media (min-width: $mixed-tablet) and (max-width: $max-tablet) {
      font-size: 140px;
      line-height: 120px;
      letter-spacing: -0.01em;

      .last__point {
        margin-left: -25px;
      }
    }
  }

  &--information {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
  }

  .home--information {
    h3 {
      @media (min-width: $mixed-tablet) and (max-width: $max-tablet) {
        font-size: 32px;
        line-height: 30px;

        .last__point {
          margin-left: -5px;
        }
      }
    }
  }

  @media (min-width: $min-tablet) and (max-width: $mixed-tablet) {
    margin-bottom: 144px;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    column-gap: 112px;
    grid-template-areas:  "title title"
                          "image info"
                          "image link";

    > .picture--container {
      grid-area: image;
      display: block;

      img {
        max-height: 320px;
      }
    }

    &--title {
      grid-area: title;
      margin-bottom: 72px;
      max-width: 700px;
    }

    &--information {
      grid-area: info;
      align-self: start;
      margin-bottom: 0;
    }

    .btn__container {
      grid-area: link;
      text-align: left;
      align-self: end;
      margin-top: 0;
    }

    &--link {
      margin-top: 0;
    }
  }

  @media (min-width: $mixed-tablet) {
    display: grid;
    grid-template-columns: 130px 450px 1fr 335px;
    grid-template-areas:  ". info . image"
                          "title title title link";

    > .picture--container {
      grid-area: image;
    }

    &--title {
      grid-area: title;
    }

    &--information {
      grid-area: info;
    }

    .btn__container {
      grid-area: link;
      justify-self: end;
    }

    &--link {
      margin-top: 32px;
    }
  }

  @media (min-width: $max-tablet) {
    margin-bottom: 192px;
  }
}

// SECTION 2
@media (min-width: $mixed-tablet) {
  .btn__container {
    text-align: right;
  }
  .home--sublink {
    margin-top: 48px;
  }

}

.projects__card__container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: $min-tablet) and (max-width: $mixed-tablet) {
    flex-direction: row;
    gap: 112px;
  }

  @media (min-width: $mixed-tablet) {
    gap: 96px;
  }
}

.project__card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;

  &--image {
    max-height: 285px;

    @media (min-width: $mixed-tablet) {
      max-height: 400px;
    }

    @media (min-width: $max-tablet) {
      max-height: 600px;
    }
  }

  &--title {
    @media (min-width: $max-tablet) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &--link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}

@media (min-width: $mixed-tablet) {
  .project__card:first-of-type h3 {
    text-align: right;
  }
}