@import '../settings/variable';
// SECTION 1
.home {
  margin-bottom: 96px;

  @media (min-width: $tablet) {
    margin-bottom: 144px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 24px;
  }

  @media (min-width: $semi-desktop) {
    margin-bottom: 192px;
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(12, 1fr);
  }

  &--title {
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      grid-row: 1/2;
      grid-column: 1/10;
      margin-bottom: 72px;
    }

    @media (min-width: $semi-desktop) {
      margin-bottom: 0;
      grid-row: 2/3;
      grid-column: 1/10;
    }
  }

  &--information {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      grid-row: 2/3;
      grid-column: 6/10;
    }

    @media (min-width: $semi-desktop) {
      grid-row: 1/2;
      grid-column: 2/6;
    }
  }

  .btn__container {
    @media (min-width: $tablet) {
      grid-row: 2/3;
      grid-column: 6/10;
      text-align: left;
      align-self: end;
      margin-top: 0;
    }

    @media (min-width: $semi-desktop) {
      grid-row: 2/3;
      grid-column: 10/13;
      padding-top: 48px;
      align-self: start;
      text-align: right;
    }
  }

  &--link {
    margin-top: 32px;

    @media (min-width: $tablet) {
      margin-top: 0;
    }
  }

  .picture--container {
    @media (min-width: $tablet) {
      grid-row: 2/3;
      grid-column: 1/5;
    }

    @media (min-width: $semi-desktop) {
      grid-row: 1/2;
      grid-column: 10/13;
      transform: scaleX(-1);
    }
  }
}

// SECTION 2

.recent__project {
  .btn__container {
    padding-top: 72px;

    @media (min-width: $semi-desktop) {
      text-align: right;
    }
  }
}