@import "../settings/variable";

.privacy {
  padding-bottom: 4.5rem;
  @media (min-width: $semi-desktop) {
    padding-bottom: 6rem;
  }

  @media (min-width: $semi-desktop) {

    &--title {
      font-size: 6.25rem;
      line-height: 6.25rem;

      .last__point {
        margin-left: -1rem;
      }
    }
  }

  &--title{
    word-break: break-word;
    hyphens: auto;
  }
}

.privacy__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;

  @media (min-width: $semi-desktop) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    row-gap: 3rem;
  }

  article {
    @media (min-width: $semi-desktop) {
      grid-column: 3/11;
    }

    h3 {
      padding-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.75rem;

      @media (min-width: $semi-desktop) {
        font-size: 1.25rem;
        line-height: 2.125rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    li {
      color: $grey;
      font-family: $montserrat;
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 400;

      @media (min-width: $semi-desktop) {
        font-size: 1.25rem;
        line-height: 2.125rem;
      }
    }

    a {
      color: $grey;
      font-weight: 600;
      text-decoration: underline;
      display: inline;
    }
  }
}