@import "../settings/variable";

.not__found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;

  @media (min-width: $semi-desktop) {
    gap: 2rem;
  }

  .not__found__btn__container {
    display: flex;
  }

  &--link {
    padding: 0.625rem 2rem;
    margin: 0;
  }
}