@import '../settings/variable';

.project {

  &--title {
    margin-bottom: 16px;
  }

  &--text {
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      margin-bottom: 72px;
    }

  }
}

.filter__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 16px;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop) {
    justify-content: end;
  }

  .filter {
    border: 1px solid $grey;
    color: $grey;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.003em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 8px;

    &.active, &:hover {
      background-color: $red;
      color: $white;
      border: 1px solid $red;
    }
  }
}

.projects__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 112px;
  }
}

.single__project {
  position: relative;
  transition: transform .3s ease-in-out;

  &:hover, &:active {
    transform-origin: center center;
    transform: scale(0.95);
  }

  &--link {
    z-index: 10;
    position: absolute;
    inset: 0 0 0 0;
  }
}

.end__project {
  padding-top: 72px;
  text-align: center;
}