@import '../settings/variable';

.project {

  &--title {
    margin-bottom: 16px;

    @media (min-width: $desktop){
      max-width: 1300px;
    }
  }

  &--text {
    margin-bottom: 40px;

    @media (min-width: $tablet) {
      margin-bottom: 72px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 96px;
    }

  }
}

.filter__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 16px;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop) {
    justify-content: end;
    margin-bottom: 96px;
  }

  .filter {
    border: 1px solid $grey;
    color: $grey;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.003em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 8px;

    &.active, &:hover {
      background-color: $red;
      color: $white;
      border: 1px solid $red;
    }
  }
}

.end__project {
  padding-top: 72px;
  text-align: center;

  @media (min-width: $desktop){
    padding-top: 96px;
  }
}