@import '../settings/variable';

.project {

  &--title {
    margin-bottom: 1rem;

    @media (min-width: $desktop){
      max-width: 1300px;
    }
  }

  &--text {
    margin-bottom: 2.5rem;

    @media (min-width: $tablet) {
      margin-bottom: 4.5rem;
    }

    @media (min-width: $desktop) {
      margin-bottom: 6rem;
    }

  }
}

.filter__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2.5rem;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 4.5rem;
  }

  @media (min-width: $desktop) {
    justify-content: end;
    margin-bottom: 6rem;
  }

  .filter {
    border: 1px solid $grey;
    color: $grey;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.003em;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 1rem;
    border-radius: 8px;

    &.active, &:hover {
      background-color: $red;
      color: $white;
      border: 1px solid $red;
    }
  }
}

.end__project {
  padding-top: 4.5rem;
  text-align: center;

  @media (min-width: $desktop){
    padding-top: 6rem;
  }
}