@import '../settings/variable';

.single__stage {

  &--title {
    padding-bottom: 40px;
  }

  .btn__container {
    padding-bottom: 40px;
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 24px;
    row-gap: 40px;
    margin-bottom: 40px;

    &--title {
      grid-column: 1/8;
      grid-row: 2/3;
      padding: 0;
    }

    .btn__container:first-of-type {
      grid-column: 1/5;
      grid-row: 1/2;
      text-align: left;
      padding: 0;
    }

    .btn__container:last-of-type {
      grid-column: 7/10;
      grid-row: 3/4;
      text-align: right;
      align-self: end;
      padding: 0;
    }
  }

  @media (min-width: $semi-desktop) {
    margin-bottom: 96px;
  }

  &--highlink {
    flex-direction: row-reverse;

    &:after {
      margin: 0 16px 0 0;
      transform: rotate(-90deg);
    }

    &:hover, &:active {

      &:after {
        transform: rotate(-135deg);
      }
    }
  }
}

.others__projects {

  &--title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-bottom: 32px;

    @media (min-width: $tablet) {
      padding-bottom: 40px;
    }

    @media (min-width: $semi-desktop) {
      font-size: 40px;
      line-height: 45px;
      letter-spacing: 0.008em;
      padding-bottom: 48px;
    }



    .last__point {
      margin-left: -6px;
    }
  }
}