@import '../settings/variable';

.commitments {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-bottom: 96px;

  @media (min-width: $tablet) {
    margin-bottom: 144px;
    gap: 72px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 144px;
  }
}

.info__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media (min-width: $tablet) {
    grid-template-areas:  "title ."
                          "text link";
    grid-template-columns: 417px 1fr;
    row-gap: 40px;

    .commitments {
      &--title {
        grid-area: title;
      }

      &--text {
        grid-area: text;
      }
    }

    .btn__container {
      align-self: end;
      justify-self: end;
      grid-area: link;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .btn__container{
      align-self: start;
    }
  }

  .arrow__link {
    margin: 0;
  }
}

.commitments__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 335px);
  }
}

.simple__commitment {
  position: relative;
  padding: 24px;

  &--title {
    text-transform: none;
    padding-bottom: 24px;
  }

  &:before {
    border-top: 4px solid $red;
    border-left: 4px solid $red;
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    transition: width .3s ease-out, height .3s ease-out;
  }

  &:hover:before, &:active:before {
    width: 75px;
    height: 75px;
  }
}
