@import '../settings/variable';
// BURGER MENU

.logo {
  display: flex;

  .fill {
    fill: $white;

    @media (min-width: $burger-menu-end) {
      fill: $red;
    }
  }
}

.header {
  position: relative;
  max-width: 100%;
}

.nav__bar {
  background-color: $red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  box-sizing: border-box;

  @media (min-width: $burger-menu-end) {
    background-color: transparent;
  }

  @media (min-width: $semi-desktop) {
    padding: 24px 145px;
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: $white;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 72px;
  text-align: center;
  box-sizing: border-box;
  transition: left .3s ease;

  @media (min-width: $burger-menu-end) {
    background-color: transparent;
    position: initial;
    width: auto;
    height: auto;
    flex-direction: row;
    padding: 0;
  }
}

.bgm--checkbox:not(:checked) ~ .nav__container {
  left: 100%;
}

.bgm--checkbox:checked ~ .nav__container {
  left: 0;
}

.bgm {
  &--checkbox {
    display: none;
  }

  &--label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 4px;

    @media (min-width: $burger-menu-end) {
      display: none;
    }

    svg {
      stroke: $white;
    }

    path {
      transition: all .3s cubic-bezier(.55, -0.32, .31, 1.32);
      overflow: auto;
    }
  }
}

.bgm--checkbox:checked ~ .bgm--label {
  path:first-of-type {
    transform-origin: center;
    transform: rotate(135deg) translateY(calc(50% - 2px));
  }

  path:nth-of-type(2) {
    transform-origin: center;
    transform: scale(0);
  }

  path:last-of-type {
    transform-origin: center;
    transform: rotate(-135deg) translateY(calc(-50% + 2px));
  }
}

.nav__item {
  .languages__link {
    text-transform: uppercase;
  }

  a {
    margin: auto;
    color: $grey;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    position: relative;

    &:after {
      @media (min-width: $burger-menu-end) {
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s ease-in-out;
        background-color: $red;
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -2px;
        left: 0;
      }
    }

    &:hover, &:active {
      @media (min-width: $burger-menu-end) {
        &:after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    &.active {
      color: $red;
      font-weight: 600;

      &:after {
        transform: scaleX(1);
      }
    }
  }
}