@import '../settings/variable';

// BURGER MENU

.header {
  position: relative;
}

.nav__bar {
  background-color: $red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  width: 100vw;
  box-sizing: border-box;
}

.nav__container {
  background-color: $white;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 72px;
  text-align: center;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.bgm--checkbox:not(:checked) ~ .nav__container {
  left: 100%;
}

.bgm--checkbox:checked ~ .nav__container {
  left: 0;
}
.bgm {
  &--checkbox {
    display: none;
  }

  &--label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 4px;

    svg {
      stroke: $white;
    }

    path {
      transition: all .3s cubic-bezier(.55, -0.32, .31, 1.32);
      overflow: auto;
    }
  }
}

.bgm--checkbox:checked ~ .bgm--label {
  path:first-of-type {
    transform-origin: center;
    transform: rotate(135deg) translateY(calc(50% - 2px));
  }

  path:nth-of-type(2) {
    transform-origin: center;
    transform: scale(0);
  }

  path:last-of-type {
    transform-origin: center;
    transform: rotate(-135deg) translateY(calc(-50% + 2px));
  }
}

.nav__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.nav__item {
  .languages__link {
    text-transform: uppercase;
  }

  a {
    margin: auto;
    color: $grey;
    font-size: 24px;
    line-height: 29px;

    &:hover {
      color: $red;
    }

    &.active{
      color: $red;
    }
  }
}

// DESTKOP