@import '../settings/variable';

.language {
  overflow: hidden;

  &--title {
    padding-bottom: 2rem;

    @media (min-width: $tablet) {
      padding-bottom: 2.5rem;
    }

    @media (min-width: $desktop) {
      padding-bottom: 3rem;
    }
  }

  &--wrapper {
    margin: auto;
    max-width: 1250px;
    overflow-x: hidden;
  }
}

.picture--container {
  min-width: 8.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    min-width: 200px;
  }
}

.language--gallery {
  animation: scrollMobile 8s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  @media (min-width: $tablet) {
    animation: scrollTablet 6s linear infinite;
  }

  display: flex;
  align-items: center;

  .single__language--image {
    max-width: 5rem;
    height: auto;
  }
}

.language__single--name {
  text-transform: uppercase;
  transform: translateY(-20px);
  opacity: 0;
  transition: all ease-in-out .2s;
}

.language__single:hover .language__single--name,
.language__single:active .language__single--name {
  transform: translateY(0);
  opacity: 1;
}

.language__single--link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

@keyframes scrollMobile {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-840px);
  }
}

@keyframes scrollTablet {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1200px);
  }
}