@import '../settings/variable';

.language {
  overflow: hidden;

  &--title {
    padding-bottom: 2rem;

    @media (min-width: $tablet) {
      padding-bottom: 2.5rem;
    }

    @media (min-width: $desktop) {
      padding-bottom: 3rem;
    }
  }
}

.language__gallery {
  animation: scroll 8s linear infinite;
  display: flex;
  align-items: center;
  flex-direction: row;

  .single__language--image {
    max-width: 5rem;
    padding: 0 1.875rem;
    height: auto;


  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-840px);

  }
}