@import '../settings/variable';

@media (min-width: $tablet) {
  .lines {
    box-sizing: border-box;
    padding: 0 8.5rem;
    position: absolute;
    z-index: -10;
    display: flex;
    justify-content: space-between;
    height: calc(100% - 4rem);
    margin-top: -4rem;
    width: 100%;
    max-width: 2000px;

    .line {
      width: 1px;
      background-color: $red-line;

      @media (min-width: $semi-desktop) {
        margin-top: -4.8125rem;
        height: calc(100% - 4.8125rem);
      }
    }
  }
}

@media (min-width: $semi-desktop) {
  .lines {
    padding: 0 17.8125rem;
  }
}