@import '../settings/variable';

@media (min-width: $min-tablet) {
  .lines {
    box-sizing: border-box;
    padding: 0 136px;
    position: absolute;
    z-index: -10;
    display: flex;
    justify-content: space-between;
    height: calc(100% - 64px);
    width: 100%;

    @media (min-width: $mixed-tablet) {
      padding: 0 298px;
    }

    .line {
      height: calc(100% - 64px);
      width: 1px;
      background-color: $red-line;
    }
  }
}