@import '../settings/variable';

.school__steps {
  margin-bottom: 96px;

  @media (min-width: $tablet) {
    margin-bottom: 144px;
  }

  &--title {
    padding-bottom: 32px;

    @media (min-width: $tablet) {
      padding-bottom: 40px;
    }

    @media (min-width: $school) {
      padding-bottom: 48px;
    }
  }
}

.single__step {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding-bottom: 24px;

  &--date {
    font-family: $inter;
    color: $red;
    font-size: 60px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: -0.006em;
    text-transform: uppercase;

    @media (min-width: $school) {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -0.003em;
      font-weight: 700;
    }
  }

  &--title {
    text-transform: none;
    padding-bottom: 12px;

    @media (min-width: $school) {
      padding-bottom: 16px;
    }
  }
}

.single__step:not(:first-of-type) {
  padding-top: 24px;
}

.single__step:last-of-type {
  padding-bottom: 0;
}

.single__step:not(:last-of-type) {
  border-bottom: 1px solid $red;
}

@media (min-width: $tablet) {
  .school__steps__container {
    display: grid;
    grid-template-columns: repeat(3, 335px);
    gap: 64px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .single__step:not(:first-of-type) {
    padding-top: 0;
  }
  .single__step:not(:last-of-type) {
    border-bottom: none;
  }
}

@media (min-width: $school) {

  .single__step, .single__step:not(:last-of-type) {
    border-bottom: 1px solid $red;
  }
}

@media (min-width: $school) {
  .school__steps__container {
    display: flex;
    flex-direction: column;
    counter-reset: count;
    gap: 0;
  }

  .single__step {
    counter-increment: count;
    display: flex;
    padding: 24px 0;
    transition: background-color 0.3s ease, padding 0.3s ease;

    &.active {
      background-color: $light-grey-hover;
      padding-left: 24px;
      padding-right: 24px;
    }

    &:not(:first-of-type) {
      padding: 24px 0;
      transition: background-color 0.3s ease, padding 0.3s ease;

      &.active {
        background-color: $light-grey-hover;
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    &:last-of-type {
      padding: 24px 0;
      transition: background-color 0.3s ease, padding 0.3s ease;

      &.active {
        background-color: $light-grey-hover;
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    &--info {
      text-align: left;
    }

    &--date {
      display: flex;
      justify-content: space-between;
      align-items: end;

      &:before {
        content: "0" counter(count);
        color: $black;
        font-family: $inter;
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
      }
    }
  }
}

.slider__btn {
  display: none;
}

@media (min-width: $tablet) {
  .slider__btn {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;

    .btn {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid $red;
      background-color: $light-grey-hover;

      &:hover, &:active {
        background-color: $red;
      }

      &--active {
        border-radius: 10px;
        width: 40px;
        background-color: $red;
      }
    }
  }
}

@media (min-width: $school) {
  .slider__btn {
    display: none;
  }
}