@import '../settings/variable';

.school__steps {
  margin-bottom: 96px;
  &--title {
    margin-bottom: 32px;
  }
}

.single__step {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding-bottom: 24px;

  &--date {
    font-family: $inter;
    color: $red;
    font-size: 60px;
    line-height: 55px;
    font-weight: 900;
    letter-spacing: -0.006em;
    text-transform: uppercase;
  }

  &--title {
    text-transform: none;
  }
}

.single__step:not(:first-of-type) {
  padding-top: 24px;
}
.single__step:not(:last-of-type) {
  border-bottom: 1px solid $red;
}