@import '../settings/variable';

.no-js--message {
  border-top: 1px solid $white;
  z-index: 10;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $red;
  color: $white;
  padding: 1rem 1.5rem;

  a {
    color: $white;
    text-decoration: underline;
  }
}

.js-enabled .no-js--message {
  display: none;
}